# Ensemble Learning

## Initial Imports

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
#import all neccessary libraries to perform the analysis for the assignment.
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import calendar

In [3]:
#import all neccessary libraries from SK learn to measure the performance of each deployed model
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

## Read the CSV and Perform Basic Data Cleaning

In [4]:
# Using the panda's read_csv () to retrieve the data for analysis
file_path = Path('Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [5]:
# We need to convert all categorical columns to numerical data for ease of analysis.  We use get_dummies() to convert the columns into 
# numerical data.  There were total 9 categorical columns needed to be converted into numerical data.

df = pd.get_dummies(df, columns=["home_ownership", "verification_status", "issue_d","pymnt_plan", "initial_list_status", "next_pymnt_d", "application_type",
                                 "hardship_flag","debt_settlement_flag"])
df.head()

,loan_amnt,int_rate,installment,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
0,10500.0,0.1719,375.35,66000.0,low_risk,27.24,0.0,0.0,8.0,0.0,...,1,1,0,1,0,1,1,0,1,1
1,25000.0,0.2000,929.09,105000.0,low_risk,20.23,0.0,0.0,17.0,1.0,...,1,1,0,1,0,1,1,0,1,1
2,20000.0,0.2000,529.88,56000.0,low_risk,24.26,0.0,0.0,8.0,0.0,...,1,1,0,1,0,1,1,0,1,1
3,10000.0,0.1640,353.55,92000.0,low_risk,31.44,0.0,1.0,10.0,1.0,...,1,1,0,1,0,1,1,0,1,1
4,22000.0,0.1474,520.39,52000.0,low_risk,18.76,0.0,1.0,14.0,0.0,...,1,1,0,1,0,1,1,0,1,1

## Split the Data into Training and Testing

In [6]:
# Define new variable X and create the features by dropping the column "loan_status";
X = df.copy()
X.drop("loan_status", axis=1, inplace=True)

#  create new variable y and to create and to store our target
y = df["loan_status"]

In [7]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [8]:
# Using the value_counts() function to check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [9]:
# Splitting the data into training and testing sets by creating X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y, 
                                                    random_state =78)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [10]:
# To avoid distortion in the analysis with raw data, we would scale the data with sklearn library's StandardScaler and to create an instance
from sklearn.preprocessing import StandardScaler
scaler =  StandardScaler()

In [11]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset 
X_scaler = scaler.fit(X_train)

In [12]:
# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

X_train_scaled

array([[ 0.32249399,  0.58233445,  0.00394146, ..., -0.40439223,
         0.        ,  0.        ],
       [-1.5281805 , -0.20011077, -1.55678958, ..., -0.40439223,
         0.        ,  0.        ],
       [-0.65154521,  0.46818462, -0.84409667, ..., -0.40439223,
         0.        ,  0.        ],
       ...,
       [ 0.61470575, -0.50520214,  0.04088225, ..., -0.40439223,
         0.        ,  0.        ],
       [ 0.71210967, -0.50520214,  0.11535516, ..., -0.40439223,
         0.        ,  0.        ],
       [-1.13856482, -0.42425953, -1.10487361, ..., -0.40439223,
         0.        ,  0.        ]])

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

Balanced Random Forest Classifier### Balanced Random Forest Classifier

In [13]:
# From imblearn library to import the BalancedRandomForest Classifier to ensemble the training data (X_trained; Y_trained); random state will kept at 1 for comparison
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
resample=BalancedRandomForestClassifier(n_estimators = 100, random_state=1)

# The model is fitted with training data, and the make predictions based on the X_test data 

resample.fit(X_train, y_train)
predictions = resample.predict(X_test)
Counter(predictions)

Counter({'low_risk': 15152, 'high_risk': 2053})

In [14]:
# Using the BalancedRandomForest Classifier to calculate the balanced accuracy score based on
# the actual and predicted ROS_y_pred values in the model
brf = BalancedRandomForestClassifier(n_estimators=100, random_state=1)
brf.fit(X_train, y_train)
balanced_accuracy_score(y_test,predictions)

0.778784371911514

In [15]:
# From SKlearn to import confusion matrix and
# to calculate the confusion matrix using the actual and predicted values in the model
from sklearn.metrics import confusion_matrix
confusion_matrix (y_test,predictions)

array([[   62,    30],
       [ 1991, 15122]], dtype=int64)

In [16]:
# From imblearn to import imbalanced classification report and to  
# print the imbalanced classification report based on the actual and predicted values in the model
from imblearn.metrics import classification_report_imbalanced
print (classification_report_imbalanced(y_test,predictions))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.03      0.67      0.88      0.06      0.77      0.58        92
   low_risk       1.00      0.88      0.67      0.94      0.77      0.61     17113

avg / total       0.99      0.88      0.68      0.93      0.77      0.61     17205

In [28]:
# List the features sorted in descending order by feature importance
importances =brf.feature_importances_
sorted(zip(brf.feature_importances_, X.columns),reverse=True)[:10]

[(0.08232559188092942, 'total_rec_prncp'),
 (0.07514935891577482, 'total_pymnt_inv'),
 (0.05295780612873343, 'total_rec_int'),
 (0.05172193147881896, 'last_pymnt_amnt'),
 (0.050666329293744046, 'total_pymnt'),
 (0.03180336578184677, 'int_rate'),
 (0.02875447041125705, 'issue_d_Jan-2019'),
 (0.019698414607869152, 'mo_sin_old_rev_tl_op'),
 (0.01785095742507862, 'dti'),
 (0.016491603787959136, 'max_bal_bc')]

### Easy Ensemble Classifier

In [18]:
# From SK learn library to import Gradient Boosting Classifier to ensemble the training data (X_trained; Y_trained); random state will kept at 1 for comparison


# Using the loop to train the Classifier and fit the model with different learning rates: [0.05, 0.1, 0.25, 0.5, 0.75, 1];
#  each iteration will print the accuarcy score to see the performance of the model with different learning rte
from sklearn.ensemble import GradientBoostingClassifier
learning_rates = [0.05, 0.1, 0.25, 0.5, 0.75, 1]
for learning_rate in learning_rates:
    model = GradientBoostingClassifier(n_estimators=100,
                                      learning_rate=learning_rate,
                                      max_features=2,
                                      max_depth=3,
                                      random_state=1)
    model.fit(X_train_scaled,y_train.ravel())
    print("Learning rate: ", learning_rate)
    
    # Score the model
    print("Accuracy score (training): {0:.3f}".format(
        model.score(
            X_train_scaled, 
            y_train.ravel())))
    print("Accuracy score (validation): {0:.3f}".format(
        model.score(
            X_test_scaled, 
            y_test.ravel())))
    print()

Learning rate:  0.05
Accuracy score (training): 0.996
Accuracy score (validation): 0.995

Learning rate:  0.1
Accuracy score (training): 0.997
Accuracy score (validation): 0.994

Learning rate:  0.25
Accuracy score (training): 0.997
Accuracy score (validation): 0.994

Learning rate:  0.5
Accuracy score (training): 0.972
Accuracy score (validation): 0.969

Learning rate:  0.75
Accuracy score (training): 0.988
Accuracy score (validation): 0.988

Learning rate:  1
Accuracy score (training): 0.995
Accuracy score (validation): 0.994

In [19]:
# Based on the results above, the accuracy score for validation is highest for model with learning rate of 0.05;
# As a result, we choose this learning rate for futher study

Gradient_model = GradientBoostingClassifier(n_estimators =100,
                                       learning_rate = 0.05,
                                       max_features =5,
                                       max_depth=3,
                                       random_state=1)

# Fit the model with the X_train_scaled and y_train data
Gradient_model.fit(X_train_scaled, y_train.ravel())    

# Score the model
print("Accuracy score (training): {0:.3f}".format(
    Gradient_model.score(
        X_train_scaled, 
        y_train)))
print("Accuracy score (validation): {0:.3f}".format(
    Gradient_model.score(
        X_test_scaled, 
        y_test)))

Accuracy score (training): 0.997
Accuracy score (validation): 0.995

In [20]:
# Based on the trained model to make prediction with the X_test_scaled data; 
Gradient_predictions = Gradient_model.predict(X_test_scaled)

# organize the prediction and actual in a dataframe

pd.DataFrame({"Prediction": Gradient_predictions, "Actual": y_test.ravel()}).head(20)

   Prediction    Actual
0    low_risk  low_risk
1    low_risk  low_risk
2    low_risk  low_risk
3    low_risk  low_risk
4    low_risk  low_risk
5    low_risk  low_risk
6    low_risk  low_risk
7    low_risk  low_risk
8    low_risk  low_risk
9    low_risk  low_risk
10   low_risk  low_risk
11   low_risk  low_risk
12   low_risk  low_risk
13   low_risk  low_risk
14   low_risk  low_risk
15   low_risk  low_risk
16   low_risk  low_risk
17   low_risk  low_risk
18   low_risk  low_risk
19   low_risk  low_risk

In [21]:
# Generate accuracy score for predictions using y_test with the trained model
Gradient_model.score(X_test_scaled, y_test)

0.9951758209822726

In [22]:
# From SKlearn to compute the balanced accuracy score of the model based on the actual and predicted values
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test,Gradient_predictions)

0.7002688650123603

In [23]:
# Display the confusion matrix
cm = confusion_matrix(y_test, Gradient_predictions)
cm_df = pd.DataFrame(cm, index = ["Actual High Risk", "Actual Low Risk"], columns =["Predicted High Risk", "Predicted Low Risk"])
display(cm_df)

#from sklearn.metrics import confusion_matrix
#confusion_matrix(y_test, Gradient_predictions)

                  Predicted High Risk  Predicted Low Risk
Actual High Risk                   37                  55
Actual Low Risk                    28               17085

In [25]:
# From SK learn library to import classification_report_imbalanced to print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print ("Classification Report")
print (classification_report_imbalanced(y_test, Gradient_predictions))

Classification Report
                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.57      0.40      1.00      0.47      0.63      0.38        92
   low_risk       1.00      1.00      0.40      1.00      0.63      0.43     17113

avg / total       0.99      1.00      0.41      0.99      0.63      0.43     17205

### Final Questions

1. Which model had the best balanced accuracy score?

   Gradient Boosting Classifier has a better balanced accuracy score of 0.9952.

2. Which model had the best recall score?

   Balanced Random Forest Classifier would have a better recall score of 0.67 in detecting the high risk of defaulting loan.

3. Which model had the best geometric mean score?

    Balanced Random Forest Classifier has a better geometric mean of 0.77

4. What are the top three features?

   The top 3 features are total_rec_prncp, total_pymnt_inv, and total_rec_int.